bin/
obj/
out/
**/bin/
**/obj/
**/out/

.vs/
.vscode/
.dotnet/

.git/
.gitignore
.dockerignore
Dockerfile*
docker-compose.yml
**/*.md

**/dados/
.env
TogglRelatorioParametros.ini
TogglRelatorioData.ini
TogglUsuarios.ini
TogglSprints.ini
TogglSprintCategorias.ini
TogglSprintData.ini
TogglGantParametros.ini
TogglGantData.ini