root = true

[*]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.cs]
charset = utf-8

[*.json]
charset = utf-8

[*.ts]
charset = utf-8

[*.tsx]
charset = utf-8

[*.html]
charset = utf-8

[*.css]
charset = utf-8

[*.md]
end_of_line = lf
charset = utf-8

[*.yml]
end_of_line = lf
charset = utf-8

[*.conf]
end_of_line = lf
charset = utf-8

[*.tf]
end_of_line = lf

[*.hcl]
end_of_line = lf

[*.tfvars]
end_of_line = lf

[Dockerfile]
end_of_line = lf

[.dockerignore]
end_of_line = lf