* text=auto eol=crlf

*.cs   text
*.json text
*.ts   text
*.tsx  text
*.html text
*.css  text

*.md          text eol=lf
*.yml         text eol=lf
Dockerfile    text eol=lf
*.sh          text eol=lf
*.conf        text eol=lf
.dockerignore text eol=lf
.tf           text eol=lf
.hcl          text eol=lf
.tfvars       text eol=lf
.hcl          text eol=lf

*.png binary
*.ico binary