.idea/
.DS_Store
Thumbs.db
desktop.ini

/certificado/
/dados/
dados.rar

.env
!.env.example

TogglRelatorioParametros.ini
TogglRelatorioData.ini
TogglUsuarios.ini
TogglGantParametros.ini
TogglGantData.ini